.header {
	position: fixed;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgb(102, 102, 102);
	align-items: center;


	ul {
		display: flex;
		
		li {

		}
	}
}