.header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: tra;
  align-items: center;
  padding: 0px 100px;
  z-index: 1;
}
.header div a {
  display: flex;
  font-size: 24px;
  color: white;
  line-height: 12px;
  text-decoration: none;
}
.header div a h1 {
  margin-left: 10px;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 20px;
}
.header ul li a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  display: flex;
  line-height: 12px;
}
.header ul li a span {
  margin-left: 5px;
}
.header ul li a:hover {
  opacity: 1;
  transition: ease-in-out 0.2s;
}
.header ul li .active {
  color: rgb(52, 145, 199);
  opacity: 1;
}