@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	background-color: $gray-color-900;
	color: $white-color;
}

section {
	margin: 80px 0px 80px 0px;
	

	@include tabletL {
		margin: 50px 0px 50px 0px;
	}
	@include mobileL {
		margin: 40px 0px 40px 0px;
	}

}

//Scrollbar

html {
	scrollbar-width: thin;
	scrollbar-color: rgb(95, 15, 192) rgb(143, 28, 28);
}


::-webkit-scrollbar {
	width: 2px;
	height: 2px;
	
}

::-webkit-scrollbar-track{
	background: $gray-color-700;
}

::-webkit-scrollbar-thumb {
	background-color: $gray-color-600;
	border: 3px solid $gray-color-600;
	border-radius: 10px;
}


a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

a

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	cursor: pointer;
	outline: 2px solid transparent;
  outline-offset: 2px;
	
}

input:focus {
	box-shadow: none !important;
}


/* Slide animation */
.slide-animation-enter {
	opacity: 0;
	transform: scale(0.9);
}

.slide-animation-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.slide-animation-exit {
	opacity: 1;
}

.slide-animation-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

/* Arrow */

#left {
	left: calc(4% + 1px);
}

#leftSlider {
	left: calc(80% + 1px);
	top: calc(80% + 1px);
}

#right {
	right: calc(4% + 1px);
}

#rightSlider {
	right: calc(4% + 1px);
	top: calc(80% + 1px);
}


.wrapper {
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100vh;
	transition: $transition;
	padding:  67px 50px 0px 50px;

	@include desktopM {
		padding:  55px 50px 0px 50px;
	}
	@include tabletL {
		padding:  55px 15px 0px 15px;
	}
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.test {
	padding-top: 150px;
}

.height {
	height: 200px;
}

.menuOpen {
	padding: 0px 315px;
	
	@include desktopM {
		padding: 0px 50px;
		filter: blur(10px);
		pointer-events: none;
		cursor: default;
	}
}

// carousel

.react-multi-carousel-list {

	> .react-multi-carousel-track {
		gap: 15px;
		
		// > .react-multi-carousel-item {
			
		// }
	}
}



/* React Select */
.custom-select {
	&__control {
		background-color: transparent !important;
		border: none !important;
		border-radius: 0 !important;
		border-bottom: 1px solid $gray-color-500 !important;
		box-shadow: none !important;

		&--menu-is-open {
			border-color: $primary-color !important;
		}
	}

	&__value-container {
		padding: 0 !important;
		cursor: text !important;
	}

	&__input-container {
		color: $gray-color-500 !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__indicator {
		color: $gray-color-500 !important;

		&:hover {
			color: $gray-color-500 !important;
		}
	}

	&__multi-value {
		background-color: rgba($gray-color-500, 0.6) !important;
		border-radius: 0.5rem !important;
	}

	&__multi-value__label {
		font-size: 80% !important;
		color: rgba($white-color, 0.7) !important;
	}

	&__multi-value__remove {
		color: rgba($white-color, 0.8) !important;

		&:hover {
			background-color: transparent !important;
			color: rgba($white-color, 1) !important;
		}
	}

	&__menu {
		background-color: $gray-color-700 !important;
		color: rgba($white-color, 0.6) !important;
	}

	&__option {
		cursor: pointer !important;
		&--is-focused {
			background-color: lighten($gray-color-800, 8%) !important;
		}
	}

	&-container {
		> div {
			outline: none !important;
			box-shadow: none !important;
		}

		.form-control__control {
			border-color: $gray-color-600 !important;
			box-shadow: none !important;
			outline: none;
			border: none;
			transition: $transition;
		}

		&:hover,
		&--menu-is-open {
			border-color: $gray-color-300 !important;
		}

		.form-control__indicators {
			cursor: pointer;
		}
	}

	&__menu {
		animation: scaleIn .35s ease-in-out;
	}
}
