@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
	width: 100%;
	min-height: 100%;
	font-family: 'Outfit', sans-serif;
	background-color: $gray-color-900;
	color: $white-color;
}

section {
	margin: 0 auto;
	max-width: 1000px;
	padding: 100px 0;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
