@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
	width: 100%;
	min-height: 100%;
	font-family: 'Outfit', sans-serif;
	background-color: $gray-color-900;
	color: $white-color;
}

.wrapper {
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100vh;
	transition: $transition;
	padding:  67px 50px 0px 50px;

	@include desktopM {
		padding:  55px 50px 0px 50px;
	}
	@include tabletL {
		padding:  55px 15px 0px 15px;
	}
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
