.home {

	a {
		text-align: center;
		background-color: #0077e7;
		font-weight: 600;
		font-size: 16px;
		padding: 8px 15px;
		text-decoration: none;
		margin-top: 20px;
		border-radius: 6px;
		color: white;
		transition: ease-in-out .15s;
	
	
		&:hover {
			background-color: #005aad;
		}
	
		&:active {
			background-color: #00519c;
		}
	
		&:disabled {
			background-color: #005aad;
			opacity: .5;
		}
	}

	h1 {
		font-size: 20px;
	}

	div {
		width: 100%;
		background-color: rgba(128, 128, 128, 0.247);
		color: white;
		display: grid;
		grid-template-columns: 33% 33% 33%;
		justify-items: start;
		border-bottom: 1px solid rgb(95, 95, 95);
		padding: 10px;
		border-radius: 5px 5px 0px 0px;
		span {
			border-left: 1px solid rgb(95, 95, 95);
			padding-left: 5px;
		}
	}

	ul {
		
		li {
			width: 100%;
			background-color: rgba(128, 128, 128, 0.247);
			color: white;
			display: grid;
			grid-template-columns: 33% 33% 33%;
			justify-items: start;
			border-bottom: 1px solid rgb(95, 95, 95);
			padding: 10px;
			border-radius: 5px 5px 0px 0px;

			span {
				border-left: 1px solid rgb(95, 95, 95);
				padding-left: 5px;
			}
		}
	}

}